name: Test pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: setup up node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x' # Specify the Node.js version
      
      - name: Install dependencies
        run: npm ci # Use 'npm ci' for clean and consistent dependency installation
      
      - name: Run Angular build
        run: npm run build -- --configuration production
      